{{<layout}}

{{$pageTitle}}Claim for loss of notice{{/pageTitle}}

{{$content}}


<main id="content" role="main">

{{>includes/alpha_banner}}

	<div class="text">
  <header class="form-title heading-large">
    <h1>Claim complensation for loss of notice</h1>
  </header>

	<p>To complete your application we will ask for details of:</p>

    <ol class="list-number">
      <li>any Jobseeker's Allowance claimed</li>
      <li>other benefits claimed</li>
      <li>new employment during the notice period</li>
    </ol>

    <h3 class="heading-medium">Completing a claim</h3>


	<p>a claim takes normally between 10 and 20 minutes to complete</p>
		<ul class="list-bullet">
			<li>you can skip some of the parts if they are not relevant to your claim</li>
			<li>all questions are required unless marked as optional</li>
		</ul>
	<p>If you don’t enter any information for more than 30 minutes, then your claim will time out and you’ll need to start again</p>

	<p>

		<a href="" class="button">Start now</a>

	</p>

</div>



</main>
{{/content}}

{{/layout}}
