{{<layout}}

{{$pageTitle}}Claim for loss of notice{{/pageTitle}}

{{$content}}


<main id="content" role="main">

<!-- {{>includes/alpha_banner}} -->



	<div class="inner-block">
    <div class="phase-banner">
        <p>
          <strong class="phase-tag">BETA</strong>
            This is a new service - your <a href="https://www.surveymonkey.com/s/RBW8HYW" target="_blank">feedback</a> will help us improve it
       </p>
    </div>
  </div>

	<div class="inner-block text">
		
		<header>
		  <h1 class="heading-xlarge">Claim compensation for loss of notice</h1>
		</header>

		<p>You may be able to claim compensation if you haven’t been paid for your loss of notice.</p>

		<p>Use this service if you have:</p>

    <ul class="list-bullet">
      <li>claimed a redundancy payment</li>
      <li>received a letter telling you to claim</li>
      <li>a National Insurance number</li>
    </ul>

    <p>If you don’t enter any information for more than 30 minutes, your claim will time out and you’ll need to start again.</p>

		<p>
			<a href="" class="button button-get-started">Start now</a>
		</p>

    <h3 class="heading-medium">Information that will help your claim</h3>

		<p>You will need to provide details if you have received one or both of the following during your notice period:</p>

		<ul class="list-bullet">
			<li>benefit payments</li>
			<li>any type of earnings</li>
		</ul>
		<p>You should previously have made a <a href="">Claim a redundancy payment</a>.
		</p>


	</div>
</main>
{{/content}}

{{/layout}}
